.invert {
    filter: invert(100%);
}

.splash-button {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.window-entry-h1 {
    color:"black";
}

.window-entry-h2 {
    color:#808080;
}

/* tablets, laptops */
@media screen and (min-width: 800px) {
    .h1 {
        font-size:xx-large;
    }

    .window-entry-h1 {
        font-size: 3.5vh;
    }

    .window-entry-h2 {
        font-size: 2vh;
    }

    .code-point {
        font-size: 2.5vh;
    }

    .window-div {
        width: 43vh; 
        /* aspect-ratio: 3/2; */
        height: 26vh;
        position:absolute; 
        bottom:10vh; 
        right:8.8vw; 
    }
}

/* phones */
@media screen and (max-width: 800px) {
    .h1 {
        font-size: small;
    }

    .window-div {
        /* width: 40vw;  */
        /* aspect-ratio: 3/2; */
        width: 30vh;
        height: 18vh;
        position:absolute; 
        bottom:13vh; 
        right:7vw; 
    }

    .window-entry-h1 {
        font-size: 2.5vh;
    }

    .window-entry-h2 {
        font-size: 1.5vh;
    }

    .code-point {
        font-size: 2vh;
    }
}