.invert {
    filter: invert(100%);
}

.splash-button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.splash-button:hover {
    background-color: darkblue;
}

.window-entry-h1 {
    color:"black";
}

.window-entry-h2 {
    color:#808080;
}

/* tablets, laptops */
@media screen and (min-width: 800px) {
    .title-1 {
        font-size: 7vh;
    }

    .title-2 {
        font-size: 5vh;
    }

    .title-3 {
        font-size: 3vh;
    }

    .window-entry-h1 {
        font-size: 3.5vh;
    }

    .window-entry-h2 {
        font-size: 2vh;
    }

    .code-point {
        font-size: 2.5vh;
    }

    .splash-button {
        font-size: 2.5vh;
        padding: 2vh;
    }

    .window-div {
        width: 43vh; 
        /* aspect-ratio: 3/2; */
        height: 26vh;
        position:absolute; 
        bottom:10vh; 
        right:8.8vw; 
        padding: 30px;
    }
}

/* phones */
@media screen and (max-width: 800px) {
    .title-1 {
        font-size: 5vh;
    }

    .title-2 {
        font-size: 4vh;
    }

    .title-3 {
        font-size: 3vh;
    }

    .window-div {
        width: 32vh;
        height: 20vh;
        position:absolute; 
        bottom:13vh; 
        right:7vw; 
        padding: 20px;
    }

    .window-entry-h1 {
        font-size: 2.5vh;
    }

    .window-entry-h2 {
        font-size: 1.5vh;
    }

    .code-point {
        font-size: 2vh;
    }

    .splash-button {
        font-size: 2vh;
        padding: 1.5vh;
    }
}