p {
    margin-top: 0;
    margin-bottom: 20px;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.arrow {
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fade-in-image { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container {
    display: flex;
    padding-bottom: 5vh;
}

.text-container {
    flex: 1
}

.carousel-container {
    flex: 2
}

img {  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.subtitle {
    font-weight: bold;
}

.subsubtitle {
    font-weight: bold;
}

.holder-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* background-color: #a4b5dd; */
    padding: 30px;
    border-radius: 20px;
}

.reach-out-link {
    text-decoration: underline;
    font-weight: bold;
}

/* tablets, laptops */
@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
        padding-top: 50px;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .carousel-container {
        margin-left: 5vw;
    }

    .text-body {
        font-size: 17px;
        padding-bottom: 10px;
    }

    .subtitle {
        font-size: 20px;
    }

    .subsubtitle {
        font-size: 17px;
    }

    .about-separator {
        min-width: 5vw;
    }

    .about-section {
        flex-direction: row;
    }

    .holder-card-container {
        width: 70%;
    }

    .about-img {
        display: flex;
        width: 30%;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }

    .about-img1 {
        padding-left: 50px;
    }

    .about-img2 {
        padding-right: 50px;
    }
}

/* phones */
@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding-top: 20px;
        padding-left: 25px; 
        padding-right: 25px;
    }

    .background-glyph {
        display: none;
    }

    .carousel-container {
        padding-top: 20px;
        height:100%;
    }

    .text-body {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .subtitle {
        font-size: 18px;
    }

    .subsubtitle {
        font-size: 15px;
    }

    .about-section {
        flex-direction: column;
    }

    .holder-card-container {
        width: 100%;
    }

    .about-img {
        display: none;
    }
}