.hoverable:hover {
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}

.bar {
    background-color: rgb(170, 170, 170);
}

.bar-button {
    border-radius: 8px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.expanded-menu {
    border-radius: 10px;
    padding: 5px;
    border: 1px grey solid;
    background-color: white;
}

.expanded-entry {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
    white-space: nowrap; 
    /* border-bottom: 1px black solid; */
}

/* tablets, laptops */
@media screen and (min-width: 800px) {
    .tabbar-container {
        padding-left: 5vw; 
        padding-right: 5vw;
    }

    .bar-button {
        padding-left: 2vw; 
        padding-right: 2vw;
    }

    .expanded {
        padding-left: 2vw; 
        padding-right: 2vw;
    }
}

/* phones */
@media screen and (max-width: 800px) {
    .tabbar-container {
        padding-left: 50px; 
        padding-right: 50px;
    }

    .bar-button {
        padding-left: 10px; 
        padding-right: 10px;
    }

    .expanded {
        padding-left: 10px; 
        padding-right: 10px;
    }
}

